/* a {
  text-decoration: none;
}

nav {
  margin: 25px 50px 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
} */

.navLink {
  color: royalblue;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  display: inline-block;
  /* border-right: 1px solid black; */
  padding: 0 0.5rem;
  /* min-width: 12rem; */
  text-align: center;
}

.header {
  font-size: 32px;
  color: royalblue;
  text-decoration: none;
}

header {
  background-color: #d2d7df;
  padding: 0.8rem;
}

body {
  background-color: #2d3142;
  color: #fff;
}
